<html lang="pt-br" xmlns:th="www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Sistema XY</title>
	<link href="css/style_pages.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="js/bootstrap.min.js" rel="stylesheet">
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
		<div th:include="model_page"></div>
			<div class="col-md-9 well admin-content" id="home">
				<h2>Bem vindo!!!</h2>
		</div>
</div>
</div>
</div>
</body>
</html>